[project]
	description = Script allows for proxy queries against Acquia Search as well as being useful for testing search.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Hilliard (timhilliard)
[access "refs/for/refs/*"]
	read = group user/Tim Hilliard (timhilliard)
	push = group user/Tim Hilliard (timhilliard)
	label-Code-Review = -2..+2 group user/Tim Hilliard (timhilliard)
	label-Verified = -1..+1 group user/Tim Hilliard (timhilliard)
	rebase = group user/Tim Hilliard (timhilliard)
	removeReviewer = group user/Tim Hilliard (timhilliard)
	submit = group user/Tim Hilliard (timhilliard)
[access "refs/heads/*"]
	read = group user/Tim Hilliard (timhilliard)
	create = group user/Tim Hilliard (timhilliard)
	push = +force group user/Tim Hilliard (timhilliard)
	pushMerge = group user/Tim Hilliard (timhilliard)
[access "refs/tags/*"]
	push = +force group user/Tim Hilliard (timhilliard)
	pushTag = group user/Tim Hilliard (timhilliard)
	pushSignedTag = group user/Tim Hilliard (timhilliard)
